
/*unordered list styling*/
ul a
 {
    list-style-type: none;
    margin: 10px;
    padding: 5;
    width: 140px;
    border: solid transparent; /* sets a solid border, transparent */
    border-image: url("borders.png") 30 round; /* sets an image on a transp. border*/
}
/* list itself styling*/
li a 
{
    display: block;
    padding: 5px 16px;
    margin-top: 125px; /*takes a margin off the top */
    margin-left: 5px;
    background-color: rgba(104, 85, 85, 0.164);
    color: white;
    text-decoration-line: none;
    position:fixed; left: 5px; /*fixed position with dragged 8 px from left*/
}
li a:hover 
{ /*changes the color when hovered*/
  background-color: rgba(77, 146, 108, 0.568);
  color: rgb(0, 0, 0);
}
h1 
{
    color: #703135;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    text-align: center;
    text-shadow: 1px 2px rgb(66, 30, 30);
    margin-top: 5px;
}
h2
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font:bold;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 2px blue;

}
/*styles hns class h2*/
.hns
{
   position: absolute;left: 750px; top: 700px;
}
/*styles hns a element's href*/
.hns a
{
   text-decoration-line: none;
   color: rgb(255, 255, 255);
   text-shadow: white;
}
/*stles inactive class h2*/
.inactive
{
   position: absolute;left: 750px; top: 700px;
   color: grey;
}
/*styles previous class h2*/
.previous  
{
   position: absolute;left: 20px; top: 700px;

}
/*styles previous a element's href*/
.previous a
{
   text-decoration-line: none;
   color: rgb(255, 255, 255);
   text-shadow: white;
}
p1
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font:bold;
    text-shadow: 1px 3px black;
    text-align: center;
}
/*creates a rectangle at the top to put my title in*/
.rectangle
{
width: 1400px;
height: 60px;
background-color: #2a2a3669;
border: 10px solid transparent;
border-image: url("borders.png") 60 round;
position:absolute; left: 45px;
}
/*body to put a background image*/
body
 {
    background-image: url("background.jpg");
 }
 /*second rectangle styled*/
 .rectangle2
 {
    width: 1120px;
    height: 100%;
    background-image: url("backgroundText2.jpg"); /* gives an image*/
    border: solid transparent; /* transparent for image application*/
    border-image: url("borders.png") 45 round;
    /* sets position using top,left as ref*/
    position: absolute; TOP: 140px; LEFT: 200px; 
 }
 /* syles third rectangle*/
 .rectangle3
 {
    width: 980px;
    height: 100%;
    background-image: url("backgroundText.jpg");
    border: red solid; /* transparent for image application*/
    border-radius: 50px;
    /* sets position using top,left as ref*/
    position: absolute; TOP: 140px; LEFT: 270px; 
 }
 /* styles the image in homepage*/
 .firstImage
 {
    width: 70%;
    height: auto;
    border: 5px yellow double;
    margin-left: 150px;
 }
 /*stles fourth rectangle*/
 .rectangle4
 {
    width: 750px;
    height: 150px;
    background-color: rgba(138, 118, 118, 0.637);
    border: rgba(23, 18, 66, 0.952) solid;
    border-width: 5px;
    /* sets position using top,left as ref*/
    position: absolute; TOP: 530px; LEFT: 120px; 
 }

 /* filler rectangle style*/
 .fillerRect
 {
    width: 1500px;
    height: 3px;
    background-color: rgb(49, 49, 49);
    position: absolute; top: 115px;
 }
 .clip
 {
    width: 720px;
    height: 360px;
    position: absolute; left: 130px;
 }
 